<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="form">
        <form method="post" action="/posts">
            <h3>Post id</h3> <input type="text" name="id" placeholder="enter id">
            <h3>Username</h3> <input type="text" name="username" placeholder="enter username">
            <h3>TextArea</h3> <textarea name="content" placeholder="write your post"></textarea> <br>
            <button>submit</button>
        </form>
    </div>
</body>
</html>